[package]
name = "decal"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cpal = { version = "0.15", optional = true }
dasp = { version = "0.11", optional = true }
rb = { version = "0.4", optional = true }
rubato = { version = "0.16", optional = true }
symphonia = { git = "https://github.com/pdeljanov/Symphonia", rev = "5c7078eefcf2587477d10c4345af2726f3528ecb", optional = true }
tap = "1"
thiserror = "2"
tracing = "0.1"

[dev-dependencies]
crossterm = "0.28.1"
reedline = "0.37.0"
stream-download = { version = "0.13.0", features = ["reqwest-rustls"] }
tokio = { version = "1.41.0", features = ["macros", "rt-multi-thread"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }

[features]
output = ["cpal", "rb"]
decoder = ["symphonia", "dasp", "rubato"]
decoder-aac = ["decoder", "symphonia/aac"]
decoder-flac = ["decoder", "symphonia/flac"]
decoder-mp3 = ["decoder", "symphonia/mp3"]
decoder-isomp4 = ["decoder", "symphonia/isomp4"]
decoder-wav = ["decoder", "symphonia/wav"]
decoder-ogg = ["decoder", "symphonia/ogg"]
decoder-vorbis = ["decoder", "symphonia/vorbis"]
decoder-all = [
  "decoder",
  "decoder-aac",
  "decoder-flac",
  "decoder-mp3",
  "decoder-isomp4",
  "decoder-wav",
  "decoder-ogg",
  "decoder-vorbis",
]
asio = ["cpal/asio"]
oboe-shared-stdcxx = ["cpal/oboe-shared-stdcxx"]
jack = ["cpal/jack"]
mock = []
default = ["decoder-all", "output", "mock"]
